/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

/* custom properties */
:root {
    --header-height: 3rem;
    --hue-color: 0;
    --first-color: hsl(var(--hue-color), 0%, 0%);
    --first-color-second: hsl(var(--hue-color), 0%, 0%);
    --first-color-alt: hsl(var(--hue-color), 100%, 25%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 100%, 50%);
    --text-color: hsl(var(--hue-color), 0%, 0%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 0%, 85%);
    --body-color: hsl(var(--hue-color), 0%, 100%);
    --container-color: #fff;

    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --thmub-scroll-color: hsl(var(--hue-color), 12%, 89%);

    /* font and typography */
    --body-font: 'Poppins', sans-serif;

    /* 0.5rem = 8px, 1rem = 16px */
    --big-font-size: 2rem;
    --fs-h1: 1.5rem;
    --fs-h2: 1.25rem;
    --fs-h3: 1.125rem;
    --fw-reg: 0.938rem;
    --fw-small: 0.813rem;
    --fw-smaller: 0.75rem;

    /* font weight */
    --fw-meduim: 500;
    --fw-semi-bold: 600;

    /* margenes button */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        /* 0.5rem = 8px, 1rem = 16px */
        --big-font-size: 3rem;
        --fs-h1: 2.25rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1.25rem;
        --fw-reg: 1rem;
        --fw-small: 0.875rem;
        --fw-smaller: 0.813rem;
    }
}

/* default body styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--fw-reg);
    background-image: url('./resources/imgs/Thumbnail.png');
    /* background-color: var(--body-color); */
    color: var(--text-color);
}

h1,h2,h3,h4 {
    color: var(--text-color);
    font-weight: var(--fw-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* reuseable css classes */
.section {
    padding: 1rem 1rem 2rem;
    margin-bottom: 2rem;
}

.section__title {
    font-size: var(--fs-h1);
}

.section__subtitle {
    display: block;
    font-size: var(--fw-small);
    margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
    text-align: center;
}

/* page layout */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-image: url('resources/imgs/Thumbnail.png');
    /* background-color: var(--body-color); */
}

/* nav layout */
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--text-color);
    font-weight: var(--fw-semi-bold);
    font-size: 20px;
}

.nav__logo:hover {
    color: var(--title-color);
}

.nav__toggle {
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--title-color);
}

.nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fw-small);
    color: var(--text-color);
    font-weight: bold;
}

.nav__link:hover {
    color: var(--title-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
}

.nav__close:hover {
    color: var(--title-color);
}

/* font size for smaller devices */
@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        /* background-color: var(--body-color); */
        background-image: url('../resources/imgs/Thumbnail.png');
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}

/* javascript styling to display the menu with teh click button */
.show-menu {
    bottom: 0;
}

/* active link */
.active-link {
    color: var(--title-color);
}

/* change scroll header background*/
.scroll-header {
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

/* scroll up styling */
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrollup:hover {
    background-color: var(--title-color);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: white;
}

/* scroll bar */
::-webkit-scrollbar {
    width: 0.60rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--thmub-scroll-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--title-color);
}

/* show-scroll */
.show-scroll {
    bottom: 5rem;
}

/* theme changing button */
.nav__btns {
    display: flex;
    align-items: center;
}

/* home page styling */
.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 2.5rem;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--title-color);
}

.home__blob-img {
    width: 200px;
    float: right;
}

.home__data {
    grid-column: 1/3;
    /* padding-top: 1rem; */
}

.work__link {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--title-color);
    list-style-type: none;
    cursor: pointer;
    font-weight: 700;
}

.work__link:hover {
    color: var(--title-color);
    text-decoration: underline;
    text-decoration-color: var(--text-color);
}

.home__title {
    font-size: 26px;
    color: var(--text-color);
}

.home__subtitle {
    font-size: 36px;
    color: var(--title-color);
    font-weight: var(--fw-semi-bold);
}

.home__desc {
    margin-bottom: var(--mb-2);
    font-size: 16px;
}

p.greet {
    margin-bottom: 0;
}

/* .home__scroll {
    display: none;
} */

.home__scroll-button {
    color: var(--first-color);
    transition: .3s;
}

.home__scroll-button:hover {
    transform: translateY(0.25rem);
    color: var(--first-color-alt);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--fw-small);
    color: var(--title-color);
    font-weight: var(--fw-meduim);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}

/* button styling */
.button {
    display: inline-block;
    background-color: var(--text-color);
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.button:hover {
    background-color: var(--title-color);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.uil-message:before {
    content: '\eb23';
    margin-left: var(--mb-0-5);
    font-weight: var(--fw-semi-bold);
}

.button--small {
    padding: 0.75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--title-color);
}

/* about me section styling */
.about__img {
    width: 300px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about_desc {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.about__buttons {
    display: flex;
    justify-content: center;
}

.about__desc {
    margin: var(--mb-2) 0;
    font-size: 16px;
}


/* active modal from JS */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* portfolio styling */
.portfolio__row {
    color: var(--text-color);
    font-family: 'Fredoka' , sans-serif;
}

.portfolio__row:after {
    content: "";
    display: table;
    clear: both;
}

.portfolio__column__text {
    float: left;
    width: 40%;
    text-align: right;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

.portfolio__column__link {
    float: left;
    width: 60%;
    padding: 0.5rem 0;
}

.portfolio__info {
    font-size: 16px;
}

.portfolio__link {
    text-decoration: underline;
    text-decoration-color: red;
    list-style-type: none;
    cursor: pointer;
    color: var(--text-color);
}

.portfolio__link:hover {
    color: var(--title-color);
    text-decoration: underline;
    text-decoration-color: black;
}

.portfolio.section {
    margin-bottom: 1rem;
}

/* contact styling */
.contact__info {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__subtitle {
    font-size: 1.5rem;
    color: var(--text-color);
    display: block;
    text-align: center;
    margin-top: 1rem;
    text-decoration: underline;
    text-decoration-color: red;
    list-style-type: none;
    cursor: pointer;
}

.contact__subtitle:hover {
    color: var(--title-color);
    text-decoration: underline;
    text-decoration-color: var(--text-color);
}

.contact.section {
    margin-bottom: 1rem;
}

/* footer styling */
.footer__container {
    row-gap: 3rem;
}

.footer__bg {
    background-color: var(--first-color-second);
    padding: 1rem;
}

.footer__copy {
    font-size: var(--fw-smaller);
    text-align: center;
    color: var(--body-color);
}

/* use responsive to adjust the screen sizes when editing for final push */
/* media queries */
/* small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .home__scroll {
        display: block;
    }

    .home__subtitle {
        font-size: 24px;
    }
    
    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-columns: 0.25fr 3fr;
    }

    .home__social-icon {
        color: var(--text-color);
    }

    .contact__content {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }

    .contact__input {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }

    .swiper-portfolio-icon {
        font-size: 2rem;
        color: var(--text-color);
    }
}

/* medium devices */
@media screen and (min-width: 568px) {
    .home__content {
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__subtitle {
        font-size: 24px;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }

    .about__container,
    .portfolio__content {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact__content {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }

    .contact__input {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }
}

@media screen and (min-width: 768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .home__container {
        row-gap: 5rem;
    }

    .home__content {
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__subtitle {
        font-size: 36px;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__container {
        column-gap: 5rem;
    }

    .about__desc {
        text-align: initial;
    }

    .about__buttons {
        justify-content: initial;
    }

    .portfolio__content {
        align-items: center;
    }

    .portfolio__info {
        font-size: 24px;
    }

    .contact__content {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }

    .contact__input {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }
}

/* large devices */
@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .home__social {
        transform: translateX(-4rem);
    }

    .home__subtitle {
        font-size: 36px;
    }

    .portfolio__content {
        column-gap: 5rem;
    }

    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }

    .swiper-button-prev {
        left: -5rem;
    }
    .swiper-button-next {
        right: -5rem;
    }

    .swiper-horizontal > .swiper-pagination-bullets {
        bottom: -5rem;
    }

    .contact__form {
        width: 920px;
        margin: 0 auto;
    }

    .contact__content {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }

    .contact__input {
        background-color: hsl(var(--hue-color), 0%, 95%);
    }
}
